:host {
  height: 100%;
  display: flex;
  align-items: stretch;
}
.left_nav {
  padding: 28px 16px;
  width: 250px;
  background-color: var(--igx-surface-500);
  flex: 0 0 auto;
  align-items: stretch;
}
.row-layout {
  padding: 0 16px 0 0;
  align-items: center;
  margin: 0 0 32px;
  min-width: 50px;
  position: relative;
}
.content_section {
  padding: 16px 32px 26px;
  background-color: var(--igx-grays-100);
  overflow: hidden;
  flex: 1 1 auto;
  align-items: stretch;
  min-width: 50px;
  min-height: 50px;
  position: relative;
}
.column-layout {
  width: 300px;
  flex: 0 0 auto;
  align-items: stretch;
  min-width: 50px;
  min-height: 50px;
  position: relative;
}
.column-layout_1 {
  margin: 0 32px 0 0;
  min-width: 375px;
  flex: 1 1 auto;
  align-items: stretch;
  min-height: 50px;
  position: relative;
}
.row-layout_1 {
  overflow: auto;
  align-items: stretch;
  min-width: 50px;
  min-height: 50px;
  position: relative;
}
.content_toolbar {
  align-items: center;
  margin: 0 0 32px;
  min-width: 50px;
  min-height: 50px;
  position: relative;
}
.column-layout_2 {
  height: max-content;
  flex: 0 0 auto;
  align-items: stretch;
  min-width: 50px;
  min-height: 50px;
  position: relative;
}
.column-layout_3 {
  margin: 0 0 32px;
}
.title {
  margin: 0 0 24px;
  min-width: min-content;
  white-space: pre-wrap;
  height: max-content;
}
.calendar {
  margin: 0 0 32px;
  width: max-content;
  height: max-content;
}
.title_1 {
  color: #D4D5D9;
  flex: 1 0 auto;
  min-width: min-content;
  white-space: pre-wrap;
  height: max-content;
}
.text {
  flex: 1 0 auto;
  min-width: min-content;
  white-space: pre-wrap;
  height: max-content;
}
.title_2 {
  margin: 0 0 16px;
  min-width: min-content;
  white-space: pre-wrap;
  height: max-content;
}
.title_3 {
  min-width: min-content;
  white-space: pre-wrap;
  height: max-content;
}
.badge {
  width: max-content;
  height: max-content;
}
.list {
  margin: 0 0 16px;
  height: auto;
  min-width: max-content;
}
.list_1 {
  margin: 0 0 8px;
  height: auto;
  min-width: max-content;
}
.list-item {
  min-width: 0;
  min-height: 0;
}
.icon {
  color: #E83180;
  width: 24px;
  height: 24px;
  font-size: 24px;
}
.icon_1 {
  color: #72DA67;
  width: 24px;
  height: 24px;
  font-size: 24px;
}
.button {
  margin: 0 0 16px;
  width: max-content;
  height: max-content;
  min-width: min-content;
}
.button_1 {
  margin: 0 0 8px;
  width: max-content;
  height: max-content;
  min-width: min-content;
}
.icon_2 {
  color: var(--igx-grays-500);
  width: 24px;
  height: 24px;
  font-size: 24px;
}
.user-input {
  margin: 0 8px 0 0;
}
.button_2 {
  margin: 0 4px 0 0;
  flex: 0 0 auto;
  height: max-content;
  min-width: min-content;
}
.button_3 {
  flex: 0 0 auto;
  height: max-content;
  min-width: min-content;
}
.button_4 {
  width: max-content;
  height: max-content;
  min-width: min-content;
}
.icon_3 {
  color: var(--igx-grays-700);
  width: 24px;
  height: 24px;
  font-size: 24px;
}
.icon_4 {
  width: 24px;
  height: 24px;
  font-size: 24px;
}
.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
