<div class="row-layout row">
  <igx-card type="outlined" [horizontal]="true" *ngFor="let item of travelappImageSet1" class="card">
    <div class="column-layout">
      <igx-card-header>
        <igx-avatar [roundShape]="true" color="var(--igx-grays-800)" bgColor="var(--igx-grays-400)" size="small" icon="person" class="avatar"></igx-avatar>
        <h3 igxCardHeaderTitle></h3>
        <h5 igxCardHeaderSubtitle></h5>
      </igx-card-header>
      <igx-card-content class="content">
        <p class="text"></p>
      </igx-card-content>
    </div>
    <igx-card-media width="96px">
      <img [src]="item.image_url" />
    </igx-card-media>
  </igx-card>
</div>
